@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1694669986524') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-duihuaxinxitianchong:before {
  content: "\e67a";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-forwardo:before {
  content: "\e736";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-fuwuerji2:before {
  content: "\e7e0";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-zhiding:before {
  content: "\e678";
}

.icon-shouji-tianchong:before {
  content: "\e643";
}

.icon-huafeiliuliang:before {
  content: "\e507";
}

.icon-shizhong:before {
  content: "\e78b";
}

.icon-tiantuihuo:before {
  content: "\e615";
}

.icon-youjiantou:before {
  content: "\e637";
}

.icon-position:before {
  content: "\e60b";
}

.icon-jianzhujiancai:before {
  content: "\e60c";
}

.icon-Groupbeifen:before {
  content: "\ecb3";
}

.icon-renyuan-05:before {
  content: "\e630";
}

.icon-neicunka:before {
  content: "\e6ca";
}

.icon-shoujichongzhi_fill:before {
  content: "\e9e8";
}

.icon-gouwuche8:before {
  content: "\ecaf";
}

.icon-youjiantou1:before {
  content: "\e625";
}

.icon-shiyongtanqinghuahewurongjichanggui:before {
  content: "\e71f";
}

.icon-jinqian:before {
  content: "\e652";
}

